/* Reset Styling */
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}
/* Utility Styling */
.start-text {
    text-align: center;
}

.start-text p {
    margin: 1rem 0 1rem;
}

.question {
    text-align: center;
}

.question-option {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
}

.btn {
    outline: none;
    border: none;
    background-color: #351C75;
    color: white;
    border-radius: 0.55rem;
}

.btn:focus {
    background-color:#BD6DE7;
}

.big-btn {
    font-size: 1.3rem;
    padding: 1rem;
}

/* Nav/Timer (Header) Bar Styling */
header {
    display: flex;
    justify-content: space-between;
    margin: 2% 2% 0;
}

#view-score {
    color: #BD6DE7;
}

/* Main Styling */
main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 5% auto 0;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:100%;
    margin-top: 1rem;
}

.accuracy-footer {
    color: grey;
    border-top: 2px solid grey;
    opacity: 0.4;
}