/* Reset Styling */
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}
/* Start Utility Styling */

/* Start/Home Page */
.start-text {
    width: 100%;
    text-align: center;
}

.start-text p {
    margin: 1rem 0 1rem;
}

.question {
    text-align: left;
    width: 100%;
}

.question-option {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
}

.btn {
    outline: none;
    border: none;
    background-color: #351C75;
    color: white;
    border-radius: 0.55rem;
    padding: 0.5rem 1.5rem;
}

.btn:focus {
    background-color:#BD6DE7;
}

.big-btn {
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 1rem;
}

.answer-container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 3rem;
}

.accuracy-footer {
    width: 100%;
    color: grey;
    border-top: 2px solid grey;
    opacity: 0.4;
}

/* End Utility Styling */

/* Nav/Timer (Header) Bar Styling */
header {
    display: flex;
    justify-content: space-between;
    margin: 2% 2% 0;
}

#view-score {
    color: #BD6DE7;
}

/* Main Styling */
main {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    margin: 5% auto 0;
}

/* Post-Game Score Submission and Display */
.congrats {
    width: 100%;
    text-align: center;
}

#initials-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

#user-input {
    margin-top: 10px;
}

#submit {
    margin-top: 15px;
    height: 34px;
    width: 40vw;
}

/* LeaderBoard Styling */
#score-container {
    width: 100%;
}

.score-even {
    background-color: #FFFFFF;
}

.score-odd {
    background-color: #D9D3E9;
}

#back {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 20px;
}

#score-container {
    margin-top: 20px;
}

#score-container * {
    margin: 0;
    text-align: left;
}

@media screen and (min-width: 768px) {
    main {
        justify-content: normal;
    }

    .question-option {
        max-width: 50%;
    }
    
    #initials-container {
        flex: 1;
        margin-top: 20px;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #user-input {
        margin: 0 10px 0 2px;
    }

    #submit {
        margin-top: unset;
        width: 7.5rem;
    }

    .congrats {
        text-align: left;
    }

    .button-container {
        margin-top: 20px;
        flex-direction: row;
    }

    #back {
        margin-right: 30px;
        margin-bottom: 0;
    }
}