/* Reset Styling */
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}
/* Start Utility Styling */

/* Start/Home Page */
.start-text {
    width: 100%;
    text-align: center;
}

.start-text p {
    margin: 1rem 0 1rem;
}

.question {
    text-align: left;
    width: 100%;
}

.question-option {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
}

.btn {
    outline: none;
    border: none;
    background-color: #351C75;
    color: white;
    border-radius: 0.55rem;
}

.btn:focus {
    background-color:#BD6DE7;
}

.big-btn {
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 1rem;
}

.answer-container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 3rem;
}

.accuracy-footer {
    width: 100%;
    color: grey;
    border-top: 2px solid grey;
    opacity: 0.4;
}

/* End Utility Styling */

/* Nav/Timer (Header) Bar Styling */
header {
    display: flex;
    justify-content: space-between;
    margin: 2% 2% 0;
}

#view-score {
    color: #BD6DE7;
}

/* Main Styling */
main {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    margin: 5% auto 0;
}

/* Post-Game Score Submission and Display */
.congrats {
    width: 100%;
}

#initials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#user-input {
    margin-top: 10px;
}

#submit {
    margin-top: 15px;
    height: 34px;
    width: 40vw;
}

/* DELETES FOR BIGGER RESOLUTIONS

main {
    justify-content: normal;
}

.question-answer {
    max-width: 50%;
}

#initials-container {
    flex: 1;
    margin-top: 20px;
    Delete justify, align-items: center;
}

COMPLETELY RESET INDIVIDUAL MARGINS, etc for initials form items


*/